# .github/workflows/test.yaml
name: Reusable workflow example

on:
    workflow_call:
        inputs:
            config-path:
                required: true
                type: string

jobs:
    triage:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository code
              uses: actions/checkout@v4

            # - name: Apply labels based on paths
            #   uses: actions/labeler@v6
            #   with:
            #       configuration-path: ${{ inputs.config-path }}

            - name: Show parameter
              run: |
                  echo ${{ inputs.config-path }}
