name: Reusable workflow example

on:
    workflow_call:
        inputs:
            config-path:
                required: true
                type: string

jobs:
    triage:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/labeler@v6
              with:
                  configuration-path: ${{ inputs.config-path }}
