# .github/workflow/job_test.yaml
name: Reusable Workflow

on:
    workflow_call:
        inputs:
            param:
                required: true
                type: string

jobs:
    reusable_workflow_job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: show passed param
              run: |
                  echo ${{ inputs.param }}
