name: Unit Tests & Terraform Lint

on:
    workflow_call:
        inputs:
            dir_app:
                description: "Application Path"
                type: string
                required: true

jobs:
    unit_test:
        name: Unit Test
        runs-on: ubuntu-latest
        timeout-minutes: 20
        env:
            PYTHON_VERSION: 3.11
        defaults:
            run:
                shell: bash
                working-directory: ${{ inputs.dir_app }}
        steps:
            - name: Check out the repo
              uses: actions/checkout@v5

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ env.PYTHON_VERSION }}
                  cache: "pip"
                  cache-dependency-path: ${{ inputs.dir_app }}/requirements.txt

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            - name: Unit Test
              run: |
                  pytest
