# .github/workflow/main.yaml
name: CI Testing

on:
    workflow_dispatch:
    push:
        branches:
            - "feature-baseline-testing"

jobs:
    unit_test:
        name: Unit Test
        uses: ./.github/workflows/job_unit_test.yaml
        with:
            app: fastapi
            app_path: app/fastapi

    lint_check:
        needs: unit_test
        name: Terraform Lint Check
        uses: ./.github/workflows/job_lint_check.yaml
        with:
            tf_path: aws/sol_baseline
