# .github/workflow/main.yaml
name: CI Testing

on:
    workflow_dispatch:
    push:
        branches:
            - "feature-baseline-testing"

jobs:
    # ci_check:
    #     name: Integrated Check
    #     uses: ./.github/workflows/job_ci_check.yaml

    # ecr_push:
    #     name: ECR Push
    #     needs: ci_check
    #     permissions:
    #         id-token: write # OIDC
    #         contents: read
    #     uses: ./.github/workflows/job_ecr.yaml

    notification:
        name: Send Notification Email
        uses: ./.github/workflows/job_email.yaml
        secrets:
            email_username: ${{ secrets.EMAIL_USERNAME }}
            email_password: ${{ secrets.EMAIL_PASSWORD }}
        strategy:
            fail-fast: false
            matrix:
                email:
                    - subject: test01
                      html_body: "<p>test01</p>"
                    - subject: test02
                      html_body: "<p>test02</p>"
        with:
            subject: ${{matrix.email.subject}}
            html_body: ${{matrix.email.html_body}}
