# .github/workflows/main.yaml
name: Call a reusable workflow

on:
    push:
        branches:
            - main

jobs:
    call-workflow-passing-data:
        permissions:
            contents: read
            pull-requests: write
        uses: ./.github/workflows/components/test.yaml
        with:
            config-path: .github/labeler.yml
