on:
    workflow_dispatch:
    push:
        branches:
            - "feature-baseline-testing"

jobs:
    destroy:
        name: test main
        runs-on: ubuntu-latest
        timeout-minutes: 30
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: output
              uses: ./components/unit_test.yaml@main
              with:
                  config-path: ./config
