# .github/workflow/main.yaml
name: CI Testing

on:
    workflow_dispatch:
    push:
        branches:
            - "feature-baseline-testing"

jobs:
    ci_check:
        name: Integrated Check
        uses: ./.github/workflows/job_ci_check.yaml
        with:
            env: "baseline"
