# .github/workflow/main.yaml
name: CI Testing

on:
    workflow_dispatch:
    push:
        branches:
            - "feature-baseline-testing"

# multiple trigger
concurrency:
    group: ci-check-${{ github.workflow }}-${{ github.ref_name }}
    cancel-in-progress: true # Cancel older runs

jobs:
    unit_test:
        name: Unit Test
        uses: ./.github/workflows/job_unit_test.yaml
        with:
            dir_app: "app/fastapi"

    ecr_push:
        name: ECR Push
        needs: unit_test
        strategy:
            fail-fast: false
            matrix:
                image:
                    - image_name: fastapi
                      #   aws_region: ${{ vars.AWS_REGION }}
                      dir_dockerfile: app/fastapi
                    - image_name: flyway
                      #   aws_region: ${{ vars.AWS_REGION }}
                      dir_dockerfile: app/flyway
        uses: ./.github/workflows/job_ecr_push.yaml
        with:
            image_name: ${{ matrix.image.image_name }}
            # aws_region: ${{ matrix.image.aws_region }}
            dir_dockerfile: ${{ matrix.image.dir_dockerfile }}
        secrets:
            aws_tf_role_arn: ${{ secrets.AWS_TF_ROLE_ARN }}
            aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}

    # notification:
    #     name: Send Notification Email
    #     uses: ./.github/workflows/job_email.yaml
    #     secrets:
    #         email_username: ${{ secrets.EMAIL_USERNAME }}
    #         email_password: ${{ secrets.EMAIL_PASSWORD }}
    #     strategy:
    #         fail-fast: false
    #         matrix:
    #             email:
    #                 - subject: test01
    #                   html_body: "<p>test01</p>"
    #                 - subject: test02
    #                   html_body: "<p>test02</p>"
    #     with:
    #         subject: ${{matrix.email.subject}}
    #         html_body: ${{matrix.email.html_body}}
#
