# .github/workflow/main.yaml
on:
    workflow_dispatch:
    push:
        branches:
            - "feature-baseline-testing"

jobs:
    test_reusable:
        uses: ./.github/workflows/job_test.yaml
        with:
            param: "main parameter"
